// ========= COLORS =========
$boxBorder: #c9c9c9;
$body-bg: #fafafa;
$boxBG: #fff;
$minorText: #8c8b8b;
$modalBG: #000;


// ======= MEDIA QUERY =======
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 1024px)';


// ====== MISC =========
$n: null;
